.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

.home-links {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.home-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-inline: 1rem;
}
