@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  font-family: 'Roboto', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100vh;
  & > div {
    min-height: 100vh;
  }
}

.person-card:before:hover {
  content: url('https://vignette.wikia.nocookie.net/starwars/images/3/3f/C-3PO_TLJ_Card_Trader_Award_Card.png');
}
